.nav_top {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  width: 100%;
}

.nav_row {
  display: flex;
  justify-content: space-around;
  width: 33.3333%;
}

.nav_top_aboutMe {
  order: 1;
}

.nav_top_FollowMe {
  order: 2;
}

.nav_top_ContactMe {
  order: 3;
}

aside {
  display: none;
}

main {
  width: 100%;
}

.personalInfo {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.featuredWork_img {
  margin-left: auto;
  margin-right: auto;
}

#feature_work {
  justify-content: space-around;
}

#img_one {
  width: 32.3%;
  margin-right: 5px;
}

#img_two {
  width: 32.3%;
  margin-right: 5px;
  margin-left: 5px;
}

#img_three {
  width: 32.3%;
  margin-left: 5px;
}
