aside {
  display: none;
}

.nav_top {
  display: none;
}

#logo_container {
  display: none;
}

.personalInfo {
  width: 100%;
  align-items: center;
}

main {
  width: 100%;
}

#feature_work {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

article {
  width: 100%;
}

.featuredWork_header {
  margin-left: auto;
  margin-right: auto;
}
