aside {
  display: none;
}

main {
  width: 100%;
}

#logo_container {
  width: 20%;
}

.nav_top {
  display: none;
}

#hamburger_menu {
  width: 20%;
}

.hamburger {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

#feature_work {
  justify-content: space-between;
}

article {
  width: 30%;
}
